$grid-column-count: 12;
$grid-gutter-width: 6px;

@mixin grid-row() {
	@extend .clearfix;

	margin: {
		left: -$grid-gutter-width;
		right: -$grid-gutter-width;
	}
}

@mixin grid-container($cols, $screens) {
	@extend .clearfix;

	@each $_screen in $screens {
		@if $_screen == $screen {
			width: 100% / $grid-column-count * $cols;
			float: left;
			position: relative;
			min-height: 1px;
			box-sizing: border-box;

			@content;
		}
	}
}

@mixin grid-col($cols, $screens) {
	@extend .clearfix;

	@each $_screen in $screens {
		@if $_screen == $screen {
			width: 100% / $grid-column-count * $cols;
			float: left;
			position: relative;
			min-height: 1px;
			padding-left: $grid-gutter-width;
			padding-right: $grid-gutter-width;
			box-sizing: border-box;

			@content;
		}
	}
}

@mixin grid-pull($cols) {
	right: 100% / $grid-column-count * $cols;
}

@mixin grid-push($cols) {
	left: 100% / $grid-column-count * $cols;
}

@mixin grid-offset($cols) {
	margin-left: 100% / $grid-column-count * $cols;
}