@import "basics";
@import "mixins";

$screens: xs sm md lg xl;

.row {
	@extend %grid-clearfix;
	@extend %grid-container;
	@extend %grid-negative-margin;
}

@each $s in sm md lg xl {
	.show-#{$s} {
		@if index($screens, $screen) == index($screens, $s) {
			display: none !important;
		} @elseif index($screens, $screen) > index($screens, $s) {
			display: none;
		}
	}
}

@each $s in xs sm md lg {
	.hide-#{$s} {
		@if index($screens, $screen) < index($screens, $s) {
			display: none !important;
		} @elseif index($screens, $screen) == index($screens, $s) {
			display: none;
		}
	}
}

.container {
	@extend %grid-container;
}

.col {
	@extend .container;
	@extend %grid-padding;
}

@each $s in xs sm md lg xl {
	@for $c from 1 through $grid-column-count {
		.col-#{$s}-#{$c} {
			@extend .col;
		}

		.container-#{$s}-#{$c} {
			@extend .container;
		}

		.col-#{$s}-#{$c}, .container-#{$s}-#{$c} {
			@if index($screens, $s) == index($screens, $screen) {
				width: 100% / $grid-column-count * $c !important;
			} @elseif index($screens, $s) < index($screens, $screen) {
				width: 100% / $grid-column-count * $c;
			} @else {
				width: 100%;
			}

			@if $c < $grid-column-count {
				@extend %grid-float-left;
			} @else {
				@extend %grid-float-none;
			}
		}
	}

	@for $c from 1 through $grid-column-count - 1 {
		.offset-#{$s}-#{$c} {
			@if index($screens, $s) == index($screens, $screen) {
				margin-left: 100% / $grid-column-count * $c !important;
			} @elseif index($screens, $s) < index($screens, $screen) {
				margin-left: 100% / $grid-column-count * $c;
			}
		}

		.push-#{$s}-#{$c} {
			@if index($screens, $s) == index($screens, $screen) {
				left: 100% / $grid-column-count * $c !important;
			} @elseif index($screens, $s) < index($screens, $screen) {
				left: 100% / $grid-column-count * $c;
			}
		}

		.pull-#{$s}-#{$c} {
			@if index($screens, $s) == index($screens, $screen) {
				right: 100% / $grid-column-count * $c !important;
			} @elseif index($screens, $s) < index($screens, $screen) {
				right: 100% / $grid-column-count * $c;
			}
		}
	}
}
