@import "basics";

@mixin grid-if($screens: xs sm md lg xl) {
	@each $_screen in $screens {
		@if $_screen == $screen {
			@content;
		}
	}
}

@mixin grid-row($screens: xs sm md lg xl) {
	@include grid-if($screens) {
		@extend %grid-clearfix;
		@extend %grid-negative-margin;

		@content;
	}
}


@mixin grid-container($cols, $screens: xs sm md lg xl) {
	@include grid-if($screens) {
		@extend %grid-clearfix;
		@extend %grid-container;

		width: 100% / $grid-column-count * $cols;

		@if $cols == $grid-column-count {
			@extend %grid-float-none;
		}

		@if $cols < $grid-column-count {
			@extend %grid-float-left;
		}

		@content;
	}
}

@mixin grid-col($cols, $screens: xs sm md lg xl) {
	@include grid-container($cols, $screens) {
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;

		@content;
	}
}

@mixin grid-pull($cols, $screens: xs sm md lg xl) {
	@include grid-if($screens) {
		right: 100% / $grid-column-count * $cols;
	}
}

@mixin grid-push($cols, $screens: xs sm md lg xl) {
	@include grid-if($screens) {
		left: 100% / $grid-column-count * $cols;
	}
}

@mixin grid-offset($cols, $screens: xs sm md lg xl) {
	@include grid-if($screens) {
		margin-left: 100% / $grid-column-count * $cols;
	}
}